# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
.DS_Store
build/
DerivedData/

# Swift Package Manager
.swiftpm/
*.xcodeproj/

# CocoaPods
Pods/
Podfile.lock

# App-specific
*.ipa
*.app
